#header {
	margin-top: 10px; margin-bottom: 5px;
}
#header h1 a {
	color: rgb(101, 138, 22); text-decoration: none;
}
#header h1 small {
	color: rgb(186, 206, 135);
}
#footer {
	padding: 15px 0px 0px; text-align: center; font-size: 95%; margin-top: 15px; margin-bottom: 10px; border-top-color: rgb(255, 0, 0); border-top-width: 2px; border-top-style: solid;
}
#footer a {
	color: rgb(153, 153, 153);
}
