<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UseManager</display-name>
  <welcome-file-list>
    <welcome-file>servlet/ShowAllEmployeeServlet</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowAllEmployeeServlet</display-name>
    <servlet-name>ShowAllEmployeeServlet</servlet-name>
    <servlet-class>com.zhangbin.web.controller.ShowAllEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllEmployeeServlet</servlet-name>
    <url-pattern>/servlet/ShowAllEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.zhangbin.web.controller.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/servlet/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeServletUI</display-name>
    <servlet-name>UpdateEmployeeServletUI</servlet-name>
    <servlet-class>com.zhangbin.web.controller.UpdateEmployeeServletUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServletUI</servlet-name>
    <url-pattern>/servlet/UpdateEmployeeServletUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeServlet</display-name>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>com.zhangbin.web.controller.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/servlet/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelMultiServlet</display-name>
    <servlet-name>DelMultiServlet</servlet-name>
    <servlet-class>com.zhangbin.web.controller.DelMultiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelMultiServlet</servlet-name>
    <url-pattern>/servlet/DelMultiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelOneServlet</display-name>
    <servlet-name>DelOneServlet</servlet-name>
    <servlet-class>com.zhangbin.web.controller.DelOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelOneServlet</servlet-name>
    <url-pattern>/servlet/DelOneServlet</url-pattern>
  </servlet-mapping>
</web-app>